{% extends 'main.html' %} {% block title %}The Agency | Movies Search{%
endblock %} {% block content %}
<!-- <h3>
    Number of search results for "{{ search_term }}": {{ results | length }}
  </h3> -->
<h3>All Movies</h3>
<div class="list-group">
    {% for movie in movies %}
    <a href="/projects/{{ movie.id }}" class="list-group-item">
        <h5>
            <i class="fas fa-film"></i>{{' '}}{{ movie.title }}{{
' - Releasing:
      '
            }}{{ movie.release_date }}
        </h5>
    </a>
    {% endfor %}
</div>
{% endblock %}