{% extends 'main.html' %} {% block title %}Post New Movie{% endblock %} {%
block content %}
<div class="form-wrapper">
    <form class="form" method="POST" action="/movies">
        <h3 class="form-heading">Create New Movie</h3>
        <div class="form-group">
            <label for="title">Title</label>
            {{
 form.title(class_ = 'form-control', autofocus = true,
      placeholder='Movie Title' )
            }}
        </div>
        <div class="form-group">
            <label for="release_date">Release Date</label>
            {{
 form.release_date(class_ = 'form-control', autofocus = true,
      placeholder='Release Date' )
            }}
        </div>

        <input type="submit"
               value="Post"
               class="btn btn-primary btn-lg btn-block" />
    </form>
</div>
{% endblock %}