{% extends 'main.html' %} {% block title %}Post New Actor{% endblock %}
{% block content %}
<div class="form-wrapper">
    <form class="form" method="POST" action="/actors">
        <h3 class="form-heading">Create Actor </h3>
        <div class="form-group">
            <label for="name">Name</label>
            {{
 form.name(class_ = 'form-control', autofocus = true, placeholder='Actor
      Name' )
            }}
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            {{
 form.gender(class_ = 'form-control', autofocus = true,
      placeholder='Gender' )
            }}
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            {{
 form.age(class_ = 'form-control', autofocus = true, placeholder='Age' )
            }}
        </div>
        <input type="submit"
               value="Post"
               class="btn btn-primary btn-lg btn-block" />
    </form>
</div>
{% endblock %}